/* CSS RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*START CUSTOM CSS*/
@font-face {
    font-family: 'frutiger_lt_std_55_romanRg', Arial;
    src: url('data/fonts/frutigerltstd-roman-webfont.eot');
    src: url('data/fonts/frutigerltstd-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('data/fonts/frutigerltstd-roman-webfont.woff') format('woff'),
         url('data/fonts/frutigerltstd-roman-webfont.ttf') format('truetype'),
         url('data/fonts/frutigerltstd-roman-webfont.svg#frutiger_lt_std_55_romanRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'frutiger_ltroman';
    src: url('data/fonts/frutigerlt-roman-webfont.eot');
    src: url('data/fonts/frutigerlt-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('data/fonts/frutigerlt-roman-webfont.woff') format('woff'),
         url('data/fonts/frutigerlt-roman-webfont.ttf') format('truetype'),
         url('data/fonts/frutigerlt-roman-webfont.svg#frutiger_ltroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

#explore_our_world {
	width:784px;
	height:484px;
	border:8px solid #4f2170;
	}
	
#navigation {
	position:relative;
	width:134px;
	margin:30px 0 0 42px;
	float:left;
	}
	#navigation ul li {
		margin:0 0 2px 0;
		width:143px;
		}
.btn_live {
	position:relative;
	background:  url(data/images/mondelez_btn_nav_live.gif) no-repeat 0 0;
	width: 134px;
	height: 25px;
	overflow:hidden;
	display:block;
	}
	.btn_live:hover {background-position: -143px 0;}
	
.btn_meet {
	position:relative;
	background: url(data/images/mondelez_btn_nav_meet.gif) no-repeat 0 0;
	width: 134px;
	height: 25px;
	overflow:hidden;
	display:block;
	}
	.btn_meet:hover {background-position: -134px 0;}
	
.btn_explore {
	position:relative;
	background: url(data/images/mondelez_btn_nav_explore.gif) no-repeat 0 0;
	width: 134px;
	height: 25px;
	overflow:hidden;
	display:block;
	}
	.btn_explore:hover {background-position: -137px 0;}
	
.btn_collect {
	position:relative;
	background: url(data/images/mondelez_btn_nav_collect.gif) no-repeat 0 0;
	width: 134px;
	height: 25px;
	overflow:hidden;
	display:block;
	}
	.btn_collect:hover {background-position: -132px 0;}
	
.btn_look {
	position:relative;
	background: url(data/images/mondelez_btn_nav_look.gif) no-repeat 0 0;
	width: 134px;
	height: 25px;
	overflow:hidden;
	display:block;
	}
	.btn_look:hover {background-position: -138px 0;}
	
.btn_share {
	position:relative;
	background: url(data/images/mondelez_btn_nav_share.gif) no-repeat 0 0;
	width: 134px;
	height: 25px;
	overflow:hidden;
	display:block;
	}
	.btn_share:hover {background-position: -135px 0;}
	
.btn_discover {
	position:relative;
	background: url(data/images/mondelez_btn_nav_discover.gif) no-repeat 0 0;
	width: 134px;
	height: 25px;
	overflow:hidden;
	display:block;
	}
	.btn_discover:hover {background-position: -142px 0;}

#logo {
	margin:0 0 25px 0;
	}
	
#interactive_globe {
	position: absolute;
	width: 608px;
	background-color: white;
	height: 484px;
	float: left;
	left: 184px;
	}
	
#globe {
	position:absolute;
	width:245px;
	height:246px;
	top:145px;
	right:193px;
	}
	
#icon_live {
	position:absolute;
	top:30px;
	left:252px;
	width:96px;
	height:92px;
	cursor:pointer;
	overflow:hidden;
	background: url(data/images/mondelez_icon_live.gif) no-repeat;
	}
	/*#icon_live:hover {background-position: -96px 0;}*/
	.icon_live_active {background-position: -101px 0 !important;}
	
#icon_meet {
	position:absolute;
	top:76px;
	right:116px;
	width:98px;
	height:96px;
	cursor:pointer;
	background: url(data/images/mondelez_icon_meet.gif) no-repeat;
	}
	.icon_meet_active {background-position: -99px 0 !important;}
	
#icon_explore {
	position: absolute;
	top: 212px;
	right:30px;
	width: 145px;
	height:103px;
	cursor: pointer;
	background: url(data/images/mondelez_icon_explore.gif) no-repeat;
	}
	.icon_explore_active {background-position: -149px 0 !important;}
	
#icon_collect {
	position:absolute;
	top:362px;
	right:140px;
	width:85px;
	height:95px;
	cursor:pointer;
	background:url(data/images/mondelez_icon_collect.png) no-repeat;
	}
	.icon_collect_active {background-position: -122px 0 !important;}

#icon_look {
	position:absolute;
	top:355px;
	left:118px;
	width:85px;
	height:92px;
	cursor:pointer;
	background:url(data/images/mondelez_icon_look.gif) no-repeat;
	}
	.icon_look_active {background-position: -83px 0 !important;}
	
#icon_share {
	position:absolute;
	top:220px;
	left:33px;
	width:120px;
	height:96px;
	cursor:pointer;
	background:url(data/images/mondelez_icon_share.gif) no-repeat;
	}
	.icon_share_active {background-position: -123px 0 !important;}
	
#icon_discover {
	position:absolute;
	top:78px;
	left:65px;
	width:140px;
	height:102px;
	cursor:pointer;
	background: url(data/images/mondelez_icon_discover.gif) no-repeat;
	}
	.icon_discover_active {background-position: -148px 0 !important;}
	
#rollOver_live {
	position: absolute;
	top: 120px;
	right: 198px;
	width:235px;
	height:264px;
	background:url(data/images/mondelez_arrow_live.png) no-repeat;
	overflow:hidden;
	}
	#rollOver_live p {
		width:200px;
		text-align:center;
		color:#fff;
		margin:108px 0 0 19px;
		font-size:14px;
		font-weight:600;
		line-height:18px;
		font-family: 'frutiger_ltroman', Arial;
		}
		#rollOver_live a { color:#fff; text-decoration:underline;}
		#rollOver_live a:hover { text-decoration:none;}
		
#rollOver_meet {
	position: absolute;
	top: 147px;
	right: 197px;
	width:242px;
	height:238px;
	background:url(data/images/mondelez_arrow_meet.png) no-repeat;
	overflow:hidden;
	}
	#rollOver_meet p {
		width: 202px;
		text-align: center;
		color: white;
		margin:78px 0 0 23px;
		font-size: 14px;
		font-weight:600;
		line-height:18px;
		font-family: 'frutiger_ltroman', Arial;
		}
		#rollOver_meet a { color:#fff; text-decoration:underline;}
		#rollOver_meet a:hover { text-decoration:none;}
		
#rollOver_explore {
	position: absolute;
	top: 154px;
	right: 167px;
	width:264px;
	height:231px;
	background: url(data/images/mondelez_arrow_explore.png) no-repeat;
	overflow:hidden;
	}
	#rollOver_explore p {
		width: 200px;
		line-height: 18px;
		text-align: center;
		color: white;
		margin:73px 0 0 17px;
		font-size: 14px;
		font-weight:600;
		font-family: 'frutiger_ltroman', Arial;
		}
		#rollOver_explore a { color:#fff; text-decoration:underline;}
		#rollOver_explore a:hover { text-decoration:none;}
		
#rollOver_collect {
	position: absolute;
	top: 149px;
	right: 191px;
	width:250px;
	height:238px;
	background: url(data/images/mondelez_arrow_collect.png) no-repeat;
	overflow:hidden;
	}
	#rollOver_collect p {
		width: 200px;
		text-align: center;
		color: white;
		margin:85px 0 0 25px;
		font-size: 14px;
		font-weight:600;
		line-height: 18px;
		font-family: 'frutiger_ltroman', Arial;
		}
		#rollOver_collect a { color:#fff; text-decoration:underline;}
		#rollOver_collect a:hover { text-decoration:none;}
		
#rollOver_look {
	position: absolute;
	top: 154px;
	right: 196px;
	width:237px;
	height:231px;
	background: url(data/images/mondelez_arrow_look.png) no-repeat;
	overflow:hidden;
	}
	#rollOver_look p {
		width: 203px;
		text-align: center;
		color: white;
		margin:58px 0 0 17px;
		font-size: 14px;
		font-weight:600;
		line-height:18px;
		font-family: 'frutiger_ltroman', Arial;
		}
		#rollOver_look a { color:#fff; text-decoration:underline;}
		#rollOver_look a:hover { text-decoration:none;}
		
#rollOver_share {
	position: absolute;
	top: 154px;
	right: 200px;
	width: 264px;
	height: 231px;
	background: url(data/images/mondelez_arrow_share.png) no-repeat;
	overflow: hidden;
	}
	#rollOver_share p {
		width: 200px;
		text-align: center;
		color: white;
		margin: 83px 0 0 49px;
		font-size: 14px;
		font-weight:600;
		line-height:18px;
		font-family: 'frutiger_ltroman', Arial;
		}
		#rollOver_share a { color:#fff; text-decoration:underline;}
		#rollOver_share a:hover { text-decoration:none;}
		
#rollOver_discover {
	position: absolute;
	top: 155px;
	right: 201px;
	width: 231px;
	height: 231px;
	background: url(data/images/mondelez_arrow_discover.png) no-repeat;
	overflow: hidden;
	}
	#rollOver_discover p {
		width: 200px;
		text-align: center;
		color: white;
		margin: 88px 0 0 18px;
		font-size: 14px;
		font-weight:600;
		line-height:18px;
		font-family: 'frutiger_ltroman', Arial;
		}
		#rollOver_discover a { color:#fff; text-decoration:underline;}
		#rollOver_discover a:hover { text-decoration:none;}
		
#rollOut {
	position:absolute;
	top:0px;
	left:0px;
	}
	
	


